<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <div class="container mt-1">
        <div class="card mb-2">
            <div class="card-body">
                <h5>
                    <a th:href="@{/company/{id}(id=${job.company.id})}" th:text="${job.company.name}" class="text-primary company-link">Company Name</a>
                </h5>
                <h3 th:text="${job.title}">Job Title</h3>
                <p><strong>Location: </strong><span th:text="${job.jobDetails.location}">Location</span></p>
                <p><strong>Skills: </strong><span th:text="${job.jobDescription.skills}">Skills</span></p>

            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <h3>About the Job</h3>
                <p><strong>Overview: </strong><span th:text="${job.jobDescription.overview}">Overview</span></p>
                <p><strong>Responsibilities: </strong><span th:text="${job.jobDescription.responsibilities}">Responsibilities</span></p>
                <p><strong>Qualifications: </strong><span th:text="${job.jobDescription.qualification}">Qualifications</span></p>
                <p><strong>Benefits: </strong><span th:text="${job.jobDescription.benefits}">Benefits</span></p>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <h4>About the Company</h4>
                <h5>
                    <a th:href="@{/company/{id}(id=${job.company.id})}" th:text="${job.company.name}" class="text-primary company-link">Company Name</a>
                </h5>
                <p th:text="${job.company.description}">Company Description</p>
            </div>
        </div>
    </div>
</body>
</html>
